#categories {

    overflow: auto;
    white-space: nowrap;
  
    a {
        display: inline-block;
        color: #FF8F71;
        text-align: center;
        text-decoration: none;
    }
}