.movieGenres{
    white-space: nowrap;
    overflow: auto;
    p {
        display: inline-block;
        margin-right: 5%;
    }
    align-items: center;
    align-content:center;
    align-self: center;
    justify-content: center;   justify-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.img-carousel-2 {
 
    max-width: 300px;
}