.movieGenres{
    white-space: nowrap;
    overflow: auto;
    p {
        display: inline-block;
        margin-right: 5%;
    }
    align-items: center;
    align-content:center;
    align-self: center;
    justify-content: center;   justify-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.allMovie {
    margin-left: 10%;

    .img-carousel-2 {
    max-height: 150px;
    max-width: 150px;
    }
    .slick-slide {
            max-width: 150px;
            margin-left: 2.5%;
            margin-right: 2.5%;
    }
}